body {
    Font-family: "Helvetica Neue","Helvetica,Arial","Sans-serif";
    
    /* Font-sizes: 40px/80pxStyles: Normal/Bold Add fade transition on hover effects Blue: #2bbed3*/
}
.txt40 {
    font-size: 40px;
    color: white;
}
.txt80 {
    font-size: 80px;
    color: white;
}
.blue {
    background-color: #2bbed3;
}
.error {
    background-color: red;
}
